* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    cursor: url('../assets/cursors/normal.cur'), auto;
}

body {
    background-image: url('../assets/backgrounds/main.png');
    background-size: cover;
    background-position: center;
}

#app {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100vw;
    height: 100vh;
    align-items: stretch;
    color: black;
}